*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin: auto;
}
main{
    min-height: calc(100vh - 124px);
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading{
  text-align: center;
  padding: 3px;
}
.modals{
  display: flex;
  gap: 1rem;
  justify-content: center;
}